# Entorno virtual
venv/

# Node / Tailwind
node_modules/
static/css/output.css
package-lock.json

# Base de datos
db.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Sistema
.DS_Store
*.log



