{% extends 'base.html' %}
    {% block content %}
        <h1>Buscar en MonClothes</h1>
        <form method="get" action="{% url 'Lupa:busqueda' %}">
            {{ form.as_p }}
            <button type="submit">🔍 Buscar</button>
        </form>

        {% if resultados %}
            <h2>Resultados: {{ resultados.count }}</h2>
            <ul>
                {% for producto in resultados %}
                    <li>
                        <strong>{{ producto.nombre }}</strong> - {{ producto.precio }} €<br>
                        {{ producto.descripcion }}<br>
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="100">
                        {% endif %}
                        <a href="{% url 'carrito:agregar_producto' producto.id %}">Agregar al carrito</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron productos. Prueba otra palabra.</p>
        {% endif %}
    {% endblock %}